@import "style";

.dark-blue-button {
  background-color: $dark-blue;
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
  user-select: none;
  transition: background 0.3s ease;
}

.dark-blue-button:hover {
  background-color: #006486;
  cursor: pointer;
  transition: background 0.3s ease;
}

.empty-button {
  height: 44px;
  width: 210px;
  color: $dark-blue;
  padding: 0 25px;
  border-radius: 15px;
  border: 4px solid $dark-blue;
  font-weight: 700;
  font-size: 20px;
  transition: background 0.3s ease;
  background-color: #fff;
  text-align: center;
}

.empty-button:hover {
  background-color: $dark-blue;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s ease;
  border: 4px solid #fff;
}

.gray-blue-button {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px 30px;
  border: none;
  background-color: $gray-blue;
}


.button__show-more__container{
  display: flex;
  justify-content: center;
}

.show-more{
  text-align: justify;
  display: none;
}

.show-more.visible{
  display: block;
}

.button-plus{
  background-color: $dark-blue;
  color: #fff;
  border-radius: 100px;
  min-width: 44px;
  height: 44px;
  font-weight: 700;
  font-size: 48px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.button-plus:hover{
  background-color: #fff;
  border: 4px solid $dark-blue;
  transition: background 0.3s ease;
  cursor: pointer;
  color: $dark-blue;
}