@import "style";
@import "students-info-event-card";

.main{
  position: relative;
}

.student-info-page__student-info-block{
  position: relative;
  padding: 60px 0;
  width: 100%;
}

.student-info__arrow{
  top: 30px;
  left: -123px;
}

.student-info {
  display: flex;
  column-gap: 116px;
  align-items: center;
}

.student-info__image{
  display: flex;
  align-items: center;
}

.student_image{
  width: 300px;
  border-radius: 150px;
  border: none;
}

.student-info__block{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.student-info__table_block{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.student-info__table_row{
  display: flex;
  height: 36px;
  align-items: center;
}

.student-info__table_column{
  font-size: 20px;
}

.main-column-td{
  font-weight: 600;
  width: 164px;
}

.student-events-number{
  display: flex;
  column-gap: 10px;
}

.brsm-card{
  height: 70px;
}

.student-info-page__events-info-block{
  padding: 60px 0;
}

.students__events-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}