@import "search-component";
@import "student-component";
@import "buttons";


.page{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 0;
}

.button__show-more__container{
  display: flex;
  justify-content: center;
}

.show-more{
  text-align: justify;
  display: none;
}

.show-more.visible{
  display: block;
}