$dark-blue: #024E68;
$light-blue: #5DACD6;
$placeholder-color: #719CAA;
$gray-blue: #B2C5CB;

$montserrat: "Montserrat", sans-serif;

* {
  margin: 0;
  font-family: $montserrat;
}

.main{
  width: 1032px;
  margin: 0 auto;
}

.input {
  border: 3px solid $dark-blue;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 18px;
  color: $dark-blue;
  outline: none;
}

.input::placeholder {
  color: $placeholder-color;
}

.input:active{
  border: 3px solid $dark-blue;
}

// HEADER STYLES

.header {
  height: 92px;
  background-color: $dark-blue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-list__item {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.header-list__item.active {
  font-weight: 600;
}

.header-list__item.active:hover {
  cursor: default;
  color: #fff;
}

.header-list__item:hover {
  color: #e3e3e3;
  cursor: pointer;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 30px;
  margin-right: 204px;
}

// ARROW

.arrow{
  position: absolute;
}

// FOOTER STYLES

.footer{
  background-color: $dark-blue;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  height: 120px;
}

.footer_container{
  width: 1032px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left_block__info{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.phone_and_location{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.right_block__info{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.social-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117px;
}

.social-icon{
  width: 30px;
}